<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{54,36},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{108,36},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{316,36},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{162,36},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{414,97},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{239,222},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{388,222},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{360,97},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{437,222},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{339,222},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{306,97},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,63}</string>
                <key>spriteSourceSize</key>
                <string>{52,63}</string>
                <key>textureRect</key>
                <string>{{154,159},{52,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{206,159},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{252,97},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,63}</string>
                <key>spriteSourceSize</key>
                <string>{52,63}</string>
                <key>textureRect</key>
                <string>{{401,159},{52,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{46,222},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{0,222},{46,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{291,222},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{95,222},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{301,159},{46,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{150,97},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{362,36},{42,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{108,159},{46,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{191,222},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{143,222},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{255,159},{46,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{404,36},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{54,97},{42,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,63}</string>
                <key>textureRect</key>
                <string>{{347,159},{54,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{336,0},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{108,0},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,33}</string>
                <key>textureRect</key>
                <string>{{54,0},{54,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{282,0},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{242,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{430,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{390,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{162,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{202,0},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{0,36},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{208,36},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{198,97},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{262,36},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{0,159},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{54,159},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{0,97},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{96,97},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role2.png</string>
            <key>size</key>
            <string>{489,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd86ebce944f4ec9ac9484ad9a0cf60b:ba16bddad3cd83b286dc69bf105a7596:dccc427992650616573c7c32b28969bc$</string>
            <key>textureFileName</key>
            <string>role2.png</string>
        </dict>
    </dict>
</plist>
