<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{480,58},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{656,58},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{626,0},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{542,0},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{700,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,55}</string>
                <key>textureRect</key>
                <string>{{612,58},{44,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{86,58},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{524,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{44,55}</string>
                <key>textureRect</key>
                <string>{{744,58},{44,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{43,58},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{832,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{794,0},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{500,0},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{920,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{164,0},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{206,0},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{248,0},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{0,58},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{964,58},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{374,0},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,57}</string>
                <key>spriteSourceSize</key>
                <string>{41,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,58}</string>
                <key>spriteSourceSize</key>
                <string>{41,58}</string>
                <key>textureRect</key>
                <string>{{82,0},{41,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{290,0},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{129,58},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{788,58},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{332,0},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,57}</string>
                <key>spriteSourceSize</key>
                <string>{41,57}</string>
                <key>textureRect</key>
                <string>{{123,0},{41,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,58}</string>
                <key>spriteSourceSize</key>
                <string>{41,58}</string>
                <key>textureRect</key>
                <string>{{41,0},{41,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,61}</string>
                <key>spriteSourceSize</key>
                <string>{44,61}</string>
                <key>textureRect</key>
                <string>{{568,58},{44,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{962,0},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{920,0},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{836,0},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{752,0},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{710,0},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{668,0},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{878,0},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{416,0},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{584,0},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{458,0},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{436,58},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{172,58},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{392,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{348,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{304,58},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{216,58},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{260,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{876,58},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role1.png</string>
            <key>size</key>
            <string>{1008,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afa01393e658e9b0e06c3cfa244b4a9b:e1412e41578398dc0dd48d00a440962b:739f641cbae569b9ded70f172f5b7e2f$</string>
            <key>textureFileName</key>
            <string>role1.png</string>
        </dict>
    </dict>
</plist>
